<div *ngIf="fields">
    <form class="dynamic-form" [formGroup]="crud_form" (submit)="onSubmit($event)">
        <ng-container *ngFor="let field of fields;">
            
            <div *ngIf="field.edit.type != 'hidden' && field.edit.cellTemplate == null"
            dynamicField [field]="field" [group]="crud_form">
            </div>

            <div *ngIf="field.edit.cellTemplate != null">
                    <app-cell-template cellTemplateName = {{field.edit.cellTemplate}}></app-cell-template>
            </div>
        </ng-container>
      
    </form>
</div>

<br>
<br>

<div class="row">
    <div class="col-md-2">
        <button mat-raised-button color="primary" (click) = "onSubmit()">Save</button>
    </div>
    <div class="col-md-2">
        <button mat-raised-button color="warn" (click) = "onCancelled()">Cancel</button>
    </div>
    <h6 *ngIf = "showJson">{{crud_form.value | json }}</h6>
</div>

